flask
gunicorn
firstrade==0.0.39
pandas_market_calendars
pytz
quant-platform-kit @ git+https://github.com/QuantStrategyLab/QuantPlatformKit.git@dfdbef6b58ab46f357d67800510bb9e8c4a01182
us-equity-strategies @ git+https://github.com/QuantStrategyLab/UsEquityStrategies.git@075b880db26602a504db9084baa8fefac99a1705
google-cloud-storage
google-auth
requests
pytest
