flask
gunicorn
firstrade==0.0.39
quant-platform-kit @ git+https://github.com/QuantStrategyLab/QuantPlatformKit.git@b821e8c318e15d40f925c84a007ae335a3415cd5
us-equity-strategies @ git+https://github.com/QuantStrategyLab/UsEquityStrategies.git@3fabb11dc6a0eaa1c5f5d0aa5e84eb1e8a155cfb
google-cloud-storage
google-auth
requests
pytest
